{
	admin off
	auto_https off
}

:8080 {
	@health path /healthz
	respond @health 200

	reverse_proxy homepage.homepage.svc.cluster.local:3000 {
		header_up Host homepage:3000
	}

	log {
		output stdout
		format console
	}
}

:8081 {
	reverse_proxy https://argocd-server.argocd.svc.cluster.local:443 {
		transport http {
			tls_insecure_skip_verify
		}
	}

	log {
		output stdout
		format console
	}
}

:8082 {
	reverse_proxy longhorn-frontend.longhorn-system.svc.cluster.local:80

	log {
		output stdout
		format console
	}
}

:8083 {
	reverse_proxy hubble-ui.kube-system.svc.cluster.local:80

	log {
		output stdout
		format console
	}
}

:8084 {
	reverse_proxy monitoring-grafana.monitoring.svc.cluster.local:80

	log {
		output stdout
		format console
	}
}

:8085 {
	reverse_proxy monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090

	log {
		output stdout
		format console
	}
}

:8086 {
	reverse_proxy monitoring-kube-prometheus-alertmanager.monitoring.svc.cluster.local:9093

	log {
		output stdout
		format console
	}
}

:8087 {
	reverse_proxy minio-console.minio.svc.cluster.local:9001

	log {
		output stdout
		format console
	}
}
